header {
    display: block;
    background-color: rgb(187, 246, 187);
    background-image: url("imagenes-tp/pasteleria.avif");
    background-size: contain;
    color: rgb(247, 250, 252);
}

header a {
    background-color: rgb(238, 140, 235);



}

header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    border: black;
    background-color: rgb(163, 194, 240);
    width: 600px;
    text-align: center;

}

body {
    background-image: url("imagenes-tp/fondorecetas.jpg");
}

ol {
    font-family: 'Dancing Script', cursive;
    font-size: medium;
    border: groove pink;
    background-color: rgb(254, 224, 229);
    width: 620px;

}

p {
    font-family: 'Dancing Script', cursive;
    font-size: medium;
    border: groove lightskyblue;
    background-color: rgb(207, 232, 247);
    width: 600px;
    text-align: justify;
    padding: 20px 30px;

}



.nav-enlace {
    display: inline-block;
    margin: 0px 3px;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;

}

nav {
    background: pink;
    padding: 10px;
    display: flex;
}

.nav-enlace:hover {
    background: rosybrown
}

.nav-button {
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    border: groove lightcoral;
    background-color: rgb(163, 194, 240);
    width: 660px;
    text-align: left;

}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: large;
    border: ridge rgb(189, 213, 236);
    background-color: rgb(163, 194, 240);
    width: 660px;
    text-align: left;
    color: rgb(76, 21, 129);

}

h4 {
    font-family: 'Dancing Script', cursive;
    font-size: medium;

    background-color: rgb(207, 232, 247);
    width: 600px;
}


@media (max-width: 600px) {
    .contenedor {
        display: inline-block;
    }

    .contenedor-footer {
        display: inline-block;
    }

    .contenedor-header {
        display: inline-block;
    }


    .izquierda {
        width: 300px;
    }

    .derecha {
        width: 300px;
    }

    nav {
        background: rgb(244, 161, 152);
        flex-direction: column;
    }

    .nav-enlace {
        margin: 10px 0px;
    }

    .nav-button {
        display: inline-block;
    }

    .dissapear {
        display: none;
    }
}

@media (max-width: 1020px) {
    .contenedor {
        display: inline-block;
    }

    .contenedor-footer {
        display: inline-block;
    }

    .contenedor-header {
        display: inline-block;
    }

    .izquierda {
        width: 800px;
    }

    .derecha {
        width: 800px;
    }


}

@media (max-width: 720px) {
    .contenedor {
        display: inline-block;
    }

    .contenedor-footer {
        display: inline-block;
    }

    .contenedor-header {
        display: inline-block;
    }


    .izquierda {
        width: 600px;
    }

    .derecha {
        width: 600px;
    }
}


footer {
    background-color: rgb(213, 249, 213);
}


.contenedor-footer {
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 10px;
    column-gap: 20px;
}

.pie {
    display: grid;
    grid-template-rows: 50% 50%;
}

.pie h1 {
    text-align: center;
}

.comentarios {
    display: grid;
    grid-template-rows: 30% 20% 30%;
}

.datos-contacto {
    display: flex;

}


.simbolos {
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    text-align: center;
}