header {
    display: block;
    background-color: rgb(187, 246, 187);
    background-image: url("imagenes-tp/pasteleria.avif");
    background-size: contain;
    color: rgb(247, 250, 252);
}

header a {
    background-color: rgb(238, 140, 235);

}

header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    border: black;
    background-color: rgb(163, 194, 240);
    width: 500px;
    text-align: center;

}



body {
    display: flex;
    background-image: url("imagenes-tp/fondo.jpg");

}

footer {
    background-color: rgb(213, 249, 213);
}

h4 {
    font-family: 'Dancing Script', cursive;
    font-size: medium;

    background-color: rgb(207, 232, 247);
    width: 600px;
}



img {
    border: solid rgb(237, 80, 190);
    margin: 5px;

}

h1 {
    font-family: 'Dancing Script', cursive;

}

.contenedor {
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 10px;
    column-gap: 20px;
}

.contenedor-footer {
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 10px;
    column-gap: 20px;
}

.pie {
    display: grid;
    grid-template-rows: 40% 40%;
}

.pie h1 {
    text-align: center;
}

.comentarios {
    display: grid;
    grid-template-rows: 30% 20% 30%;
}

.datos-contacto {
    display: flex;

}

.simbolos {
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    text-align: center;
}

.der-top {
    display: flex;
    border: solid pink;
    background-color: rgb(247, 204, 236);
    margin: 20px;
    text-align: center;

}

.der-bttm {
    display: flex;
    overflow: scroll;
    background-color: rgb(247, 204, 236);
    border: solid pink;
    margin: 20px;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes animacion {
    0% {
        background-color: rgb(250, 214, 114);
    }

    25% {
        background-color: rgb(245, 127, 209);
    }

    50% {
        background-color: rgb(145, 220, 237);
    }

    100% {
        background-color: rgb(174, 226, 174);
    }

}

.derecha h1 {
    margin-left: 20px;
    font-size: large;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
}

.carrusel {
    flex: 1;

}

.carrusel img {
    margin: 10px;
    margin-top: 50px;
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.izquierda {
    display: block;
    overflow: scroll;
    margin: 20px;
    background-color: rgb(212, 231, 248);
    border: solid rgb(155, 213, 248);
    text-align: center;
    width: 400px;
    height: 420px;
}

.izquierda img {
    width: 150px;
    height: 150px;
    border: solid rgb(178, 178, 244);
    background-color: #fff;
}

@media (max-width: 1020px) {
    .contenedor {
        display: inline-block;
    }

    .contenedor-footer {
        display: inline-block;
    }

    .contenedor-header {
        display: inline-block;
    }

    .izquierda {
        width: 800px;
    }

    .derecha {
        width: 800px;
    }


}

@media (max-width: 720px) {
    .contenedor {
        display: inline-block;
    }

    .contenedor-footer {
        display: inline-block;
    }

    .contenedor-header {
        display: inline-block;
    }


    .izquierda {
        width: 600px;
    }

    .derecha {
        width: 600px;
    }
}


.nav-enlace {
    display: inline-block;
    margin: 0px 3px;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;

}

nav {
    background: pink;
    padding: 10px;
    display: flex;
}

.nav-enlace:hover {
    background: rosybrown
}

.nav-button {
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none
}

@media (max-width: 600px) {
    .contenedor {
        display: inline-block;
    }

    .contenedor-footer {
        display: inline-block;
    }

    .contenedor-header {
        display: inline-block;
    }


    .izquierda {
        width: 300px;
    }

    .derecha {
        width: 300px;
    }

    nav {
        background: rgb(244, 161, 152);
        flex-direction: column;
    }

    .nav-enlace {
        margin: 10px 0px;
    }

    .nav-button {
        display: inline-block;
    }

    .dissapear {
        display: none;
    }
}